@media screen and (max-width: 992px){
	.after-video-content {
	    margin-top: 100px;
	}
}

@media screen and (max-width: 768px){
	video#bgVideo{
		display: none;
	}
	.carousel {
	    display: none;
	}
	#portfolio {
	   padding-top: 40px;
	}
	.button {
	   padding: 20px 20px;
	   font-size: 15px;
	   font-weight: 700;
	}

}

@media screen and (max-width: 576px){
	
}

